.foto{
    border-radius: 100%;
    max-width: 150px;
    border:1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: -5;
    bottom: -5;
    margin: auto;
}

.img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

.d-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

.icon-fab{
    font-size: 300%;
    color: green;
    float: right;
    margin-bottom: 1;
    right: 0px;
    margin-bottom: right;
    bottom: 0;
    position: fixed;
}

.icon-contato{
    color: white;
}

.icon-certificado{
    color: #ffd700;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
  }
  

.coluna{
    background-color: #0f6868;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: inherit;
    font-size: 13px;
    width: 16rem;
    height: 100vh;
    color: white;
}

.container
{
    width: 70%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-left: 265px;
    margin-right: auto;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #8c8f92;
    color: #1411e7;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  section.resume-section .resume-section-content {
    width: 100%;
  }

  section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
  }

  .dev-icons {
    color:#1411e7;
    font-size: 2.5rem;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  .list-inline-item {
    display: inline-block;
  }

  body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #343a40;
  }

  h1, .h1 {
    font-size: calc(1.725rem + 5.7vw);
  }

  a {
    color: #bd5d38;
    text-decoration: underline;
  }

  a:hover {
    color: #974a2d;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .text-primary {
    color:#09aa5a;
  }

  .text-secondary{
    color:#8c8f92;
  }